:root{
--font-display:'Space Grotesk',sans-serif;
--font-body:'Plus Jakarta Sans',sans-serif;
--font-form:'Poppins',sans-serif;

--text-xs:11px;
--text-sm:13px;
--text-base:16px;
--text-lg:18px;
--text-xl:20px;
--text-2xl:24px;
--text-3xl:30px;

--weight-medium:500;
--weight-bold:700;
--weight-extrabold:800;
}
